.movie-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5%;
    margin: 1rem;
    text-align: center;
    text-decoration: none !important;
    width: 25%;
    background-color: rgba(220, 220, 220, 0.345);
}
img {
    width: 200px;
    border-radius: .5rem;
    margin: 1rem;
}
.movie-info {
    text-decoration: none !important;
}
p {
    margin: 1rem;
}